<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.NoteMapper">
  <resultMap id="BaseResultMap" type="com.model.Note">
    <id column="noteid" jdbcType="INTEGER" property="noteid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    noteid, userid, content, addtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from note
    where noteid = #{noteid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from note
    where noteid = #{noteid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.Note">
    insert into note (noteid, userid, content, 
      addtime)
    values (#{noteid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Note">
    insert into note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteid != null">
        noteid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="content != null">
        content,
      </if>
      addtime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteid != null">
        #{noteid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Note">
    update note
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where noteid = #{noteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Note">
    update note
    set userid = #{userid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where noteid = #{noteid,jdbcType=INTEGER}
  </update>
  
  <select id="findNoteAll" resultMap="BaseResultMap">
    select n.*,u.username from note n left join `user` u on n.userid=u.userid
  </select>
</mapper>